<div id="footer" class="text-center">
    <div class="container-fluid">
        <div class="socials-media text-center">
            <ul class="list-unstyled">
                <li><a href="https://www.youtube.com/channel/UCuQaudtrioQMbkLRV5J7c8A" target="_blank"><i class="bi bi-youtube"></i></a></li>
                <li><a href="https://www.instagram.com/eng.leonardokale/" target="_blank"><i class="bi bi-instagram"></i></a></li>
                <li><a href="https://www.linkedin.com/in/leonardo-oliveira-bb6310194/" target="_blank"><i class="bi bi-linkedin"></i></a></li>
            </ul>
        </div>
        <p>&copy; Copyright kallesoft.com</p>
    </div>
</div>
